
rules_version = '2';

service cloud.firestore {
match /databases/{database}/documents {

function isAdmin() {
  return request.auth != null
         && request.auth.uid == "Ld3rzaCvAGNlXBDCofB3mWjgXWp2";
}

match /users/{userId} {

  allow create: if request.auth != null
                && request.auth.uid == userId;

  allow read: if request.auth != null
              && (
                request.auth.uid == userId
                || isAdmin()
              );

  allow update: if request.auth != null
                && (
                  request.auth.uid == userId
                  || isAdmin()
                );
}

match /drivers/{driverId} {

  allow read, write: if request.auth != null
                     && (
                       request.auth.uid == driverId
                       || isAdmin()
                     );
}

match /rides/{rideId} {

  allow read, write: if request.auth != null;

  match /messages/{messageId} {

    allow read: if request.auth != null
                && (
                  request.auth.uid == get(
                    /databases/$(database)/documents/rides/$(rideId)
                  ).data.passengerId
                  ||
                  request.auth.uid == get(
                    /databases/$(database)/documents/rides/$(rideId)
                  ).data.driverId
                  ||
                  isAdmin()
                );

    allow create: if request.auth != null
                  && (
                    request.auth.uid == get(
                      /databases/$(database)/documents/rides/$(rideId)
                    ).data.passengerId
                    ||
                    request.auth.uid == get(
                      /databases/$(database)/documents/rides/$(rideId)
                    ).data.driverId
                    ||
                    isAdmin()
                  )
                  && request.resource.data.senderId
                     == request.auth.uid;

    allow update, delete: if isAdmin();
  }
}

match /driverLocations/{driverId} {

  allow read, write: if request.auth != null;
}

/*
 * DRIVER SETTLEMENTS
 *
 * Driver:
 * - can create their own payment submission
 * - can read their own submissions
 *
 * Admin:
 * - can read all submissions
 * - can update/verify submissions
 */

match /driverSettlements/{settlementId} {

  allow read: if request.auth != null
              && (
                isAdmin()
                ||
                resource.data.driverId
                == request.auth.uid
              );

  allow create: if request.auth != null
                && request.resource.data.driverId
                   == request.auth.uid
                && request.resource.data.status
                   == "PENDING";

  allow update: if isAdmin();

  allow delete: if isAdmin();
}

}
}
